.imageFade {
    filter: grayscale(100%);
    opacity: 0.5; 
}

.pictureSize {
    width: 30px;
}

.price {
    display: none;
}


.socialNetworks {
    margin: 30px;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}